
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="container">
    <div class="row">
        <div class="breadcomb-list">
            <div class="normal-table-list">
                <h3>Ürün Ekle</h3>
            </div>
            <table class="table table-condensed table-borderless">
                <tr>
                    <td>Ürün Adı</td>
                    <td><input type="text" class="form-control" placeholder="Ürün Adı Giriniz" id="ProductName" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-success pull-right" onclick="CreateProduct()">Kaydet</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        CreateProduct();
    })
</script>


