
@{
    ViewBag.Title = "AddCatalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="breadcomb-list">
            <div class="normal-table-list">
                <h3>Kartela Ekle</h3>
            </div>
            <table class="table table-condensed table-borderless">
                <tr>
                    <td>Kartela Adı</td>
                    <td>
                        <input type="text" class="form-control" placeholder="Kartela Adı Giriniz" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn pull-right btn-success">Kaydet</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

